main {
    display: none;
}

img.sm {
    width: 3rem;
}

img.md {
    width: 10rem;
}

img.xl {
    width: 15rem;
}

img.rounded-circle {
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.card.clean {
    border: none;
    margin: 0;
    padding: 0;
}

.fancy-image img {
    display: block;
    margin: auto;
    border-left: 0.5rem solid var(--color-1);
    border-bottom: 0.5rem solid var(--color-1);
    border-right: 0.5rem solid var(--color-2);
    border-top: 0.5rem solid var(--color-2);
}

.libertarian {
    --color-1: #ffd100;
    --color-2: #fbeba5;
}

.republican {
    --color-1: #e81b23;
    --color-2: #d98588;
}

.democratic {
    --color-1: #00aef3;
    --color-2: #9fdcf5;
}

.independent-democrat {
    --color-1: #d79ff3;
    --color-2: #a140d1;
}

.independent {
    --color-1: #b3952b;
    --color-2: #d9c373;
}

.topic {
    padding: 1rem;
    overflow: hidden;
    height: auto;
    transition: 1s max-height, 1s padding-top;
}

div.topic:hover {
    padding-top: 1rem !important;
    max-height: 10rem !important;
}

div.topic:nth-child(2) {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

div.topic:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

img.loading {
    width: min(50%, 5rem);
    display: block;
    margin: auto;
    animation: spin 1.75s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

footer {
    margin-top: 2rem;
    padding: 2rem;
    border-top: 2px solid rgba(var(--bs-tertiary-bg-rgb), 1) !important;
}

footer a {
    color: black;
    text-decoration: none;
}

.topic {
    background-color: var(--topic-light);
    color: black;
}

body[data-bs-theme="dark"] .topic {
    background-color: var(--topic-dark);
    color: white;
}

body[data-bs-theme="dark"] footer a {
    color: white;
}

body[data-bs-theme="dark"] footer img,
body[data-bs-theme="dark"] ul.navbar-nav img {
    filter: invert(1);
}

main#home img {
    display: block;
    margin: auto;
    margin-bottom: 0.5rem;
}